#content_border
  #flash
  #tab_container.content-vendor-tab.content-dashboar-tab
    #vendors_navigation.tab
  //- #image_background_container
  //- #profile_vendor_container
  //- #sub_tab_container.content-vendor-tab
  //-   #sub_vendors_navigation.tab
  .content-new-tab.content-solution-provider-tab