#content_border
  #flash
  #advertisements_center
  #clocks_container
  #notifications_recommended_news
    #notification_activities
    #recommended_news
      #recommended_wrapper
        .recommend-close
        #recommended_news_boxes_container        
        
  #activities_map_container
    #activities_map
    .recommend-close
    .infobox-wrapper
      #infobox1       
  #tab_container.content-dashboar-tab
    #activities_navigation.tab
  .content-new-tab