a(href="#{url}", style="width:61px;")
  div(title="#{title}", class="icon #{class_name} back-trigger") #{title}
  span(class="text hidden")
  - if(pointer_icon)
    div(class="records pointer-icon", style="width:20px;")