.rating-form-close
.vendor-rating-content(style='width: 100%; padding: 5px 0px 18px 0px; text-align: center;')
  .title-vendor-rating
    .company-name Like saved!
.close-vendor-detail-profile(style="margin-bottom: 10px;")
  | Close