#profile_info
  .profile-photo
    img(alt='photo', attachment='logo', height='219', src="", width='694') 
  .profile-info-detail
    .name Tony Nguyen
    .email giang@rubify.com
#wishlist_info
  ul
    li
      a(href='#users_profile_wishlist', title='Support', class="active") Wishlist
    li
      a(href='#users_profile_likes', title='Support') Likes
    li
      a(href='#users_profile_friends',  title='Support') Friends