/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require jquery.fancybox-1.3.1
 *= require_self
 *= require login_or_signup
 */

@import 'bourbon';
@import 'functions';
@import 'mixin';

h6 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
} 

#loading_ajax_icon {
  background: url('/assets/ajax_loader.gif') no-repeat scroll top left;
  width: 24px;
  height: 19px;
  margin: 0 auto;
  border-bottom: none !important;
}
.content-loading-ajax-link-extract {
  background: #666; opacity: 0.8;
  z-index: 100;
  left: 0;
  top: 0;
  #loading_ajax_icon {
  }
}

#user_new_container {
  h2 {
    background: -moz-linear-gradient(center top , #586C8C, #264474) repeat scroll 0 0 #586C8C;
    border-radius: 4px 4px 0 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin: -10px -10px 15px;
    padding: 10px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em #3F3F3F;
  }
  #new_user {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    margin: 20px auto 10px;
    padding: 10px;
    position: relative;
    width: 248px;
  }
  .shared-links {
      margin: 0 auto;
      padding-top: 10px;
      position: relative;
      text-align: center;
      width: 248px;
  }
}



form.formtastic fieldset:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
form.formtastic fieldset {
    border: 0 none;
}
form.formtastic ol, form.formtastic ul {
    list-style: none outside none;
}
form.formtastic fieldset.inputs ol li label {
    font-weight: normal;

}
form.formtastic fieldset > ol > li label {
    display: block;
    float: left;
    padding-top: 0.2em;

}
form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
    margin: 0;
    padding: 0;
}
form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
    margin: 0;
    padding: 0;
}
#simplemodal-container-solution-provider {
    background-color: #F3F3F3;
    box-shadow: 0 0.08em 0.8em 0 #CCCCCC;
    text-align: left;
}
#simplemodal-container-solution-provider #simplemodal-data h2 {
    background-color: #6D7A83;
    margin-bottom: 1em;
}
.close-vendor-detail-profile {
    background-color: #6EC681 !important;
    border-radius: 3px !important;
    border-width: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 29px;
    margin: 0 10px;
    padding-top: 10px;
    text-align: center;
    text-shadow: none !important;
}
#user_actions {
  text-align: right;
}
#user_actions ul {
  clear: both;
}
#user_actions ul li {
  float: left;
  padding-right: 10px;
}

.clr {
  clear: both;
}

#container {
  clear: both;
}

#left_sidebar {
  float: left;
  padding-right: 20px;
  width: 300px;
/*  #navigation {

  }*/
  #top_left_menu {
    margin-bottom: 1em;
    border: solid 1px #DDD;
    border-radius: 6px;
    background: #FFF;
    padding: 10px;
  }
  #bottom_left_menu {
    margin-bottom: 1em;
    border: solid 1px #DDD;
    border-radius: 6px;
    background: #FFF;
    padding: 10px;
  }
  #profile_info {

  }
  #wishlist_info {
  }
  #your_recent_wishes_left {
    .info-recent-wishes {
      clear: both;
      overflow: hidden;
      h6 {
        float: left;
        font-size: 14px;
        line-height: 20px;
        width: 128px;
      }
      a {
        float: left;
        width: 120px;
      }
    }
    #left_recent_wishes {
      clear: both;
      overflow: hidden;
      .gift {
        float: left;
        padding-right: 5px;
      }
    }
  }
}
/*#right_sidebar {
  float: right;
}*/
#content_shadow {
  float: left;
}


.input-submit-blue {
  background: none repeat scroll 0 0 #5FB4CC;
  border: 0 none !important;
  border-radius: 5px;
  box-shadow: 0 1px 2px #777777;
  color: #FFFFFF !important;
  padding: 6px 18px !important;
  text-shadow: 0 0 0 #000000;
  &:hover {
    background: #5fb4cc;
  }
}

.button-submit {
    background: -moz-linear-gradient(center top , #AAD181, #98C46B, #79AD45) repeat scroll 0 0 #AAD181;
    border-radius: 5px;
    box-shadow: 0 1px 2px #777777;
    color: #FFFFFF !important;
    float: right;
    margin-top: 10px;
    padding: 5px 10px !important;
}
#search_container {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #e7f5e0;
  overflow: hidden;
  padding: 10px 10px 15px;
  #search {
    input {
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      box-shadow: 0 1px 2px #DEDEDE inset;
      padding: 4px;
      width: 325px !important;
    }
    .search {
      background: none repeat scroll 0 0 #75b431; 
      float: right;
      margin-top: 10px;
      width: 68px !important;
      border-radius: 6px;
      &:hover {
        background: #70983C; 
      }
    }
  }
}

#gifts_container {
  #gifts {
    clear: both;
    .gift {
      clear: both;
      border: 1px solid #EDEDED;
      float: none;
      margin-bottom: 10px;
      overflow: hidden;
      padding: 5px;
      .photo {
        float: left;
      }
      .content {
        float: left;
        padding: 5px 0px 10px 20px;
        .info {
          padding-bottom: 10px;
          .name {
            line-height: 20px;
            margin: 0;
            padding: 0;
            a {
              color: #70983c;
            }
          }
          .body {
            color: #7e7e7e;
          }
        }
        .likes-section {
          padding-bottom: 10px;
          .heart-icon {
            background-image:url('/assets/elf-template-sprite.png') !important;
            background-position: -1215px top!important;
            margin: 0 5px 0 0;
            width: 16px;
            height: 16px;
            float: left;
          }
        }
        .gift-actions {
          a.action {
            text-decoration: none;
            margin-right: 5px;
          }
          a.view {
            background: none repeat scroll 0 0 #70983c;
          }
          a.wish {
            background: none repeat scroll 0 0 #409c9b;
          }
          a.share {
            background: none repeat scroll 0 0 #935090;
          }
          a.like {
            background: none repeat scroll 0 0 #ef3c7b;
          }
        }
      }
    }
  }
}

#my_wishes_list {
  overflow: hidden;
  width: 630px;
  border: 1px solid #DDD;
  border-radius: 8px;
  padding: 10px;
  #gifts_container {
    #gifts {
      .gift {
        border-bottom: 0px !important;
        border-right: 0px !important;
        border-left: 0px !important;
      }
    }
  }
}